
<form ng-submit="gestion.edit('configuration', gestion.configuration.slug, gestion.configurationCopy)">

            Nom:
                <input type="text"
                       ng-value="gestion.configuration.name"
                       ng-model="gestion.configurationCopy.name"
                >
                <br>
            Description:
                <textarea type="text"
                          ng-model="gestion.configurationCopy.description"
                >
                    {{gestion.configuration.description}}
                    </textarea>
    <br>
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.configuration.lighting_start)"
                       ng-model="gestion.configurationCopy.lightingStart.hour"
                />
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.configuration.lighting_start)"
                       ng-model="gestion.configurationCopy.lightingStart.minute"
                />
                à
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.configuration.lighting_end)"
                       ng-model="gestion.configurationCopy.lightingEnd.hour"
                />
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.configuration.lighting_end)"
                       ng-model="gestion.configurationCopy.lightingEnd.minute"
                />
            <br>
                Arrosage:
                <div>
                    Activé:<br>
                    Oui:
                    <input type="radio" name="is_watering_active"
                           ng-model="gestion.configurationCopy.isWateringActive"
                           ng-value="true"
                           ng-checked="gestion.configuration.is_watering_active"
                    /> <br>
                    Non:
                    <input type="radio" name="is_watering_active"
                           ng-model="gestion.configurationCopy.isWateringActive"
                           ng-value="false"
                           ng-checked="!gestion.configuration.is_watering_active"
                    />
                </div>

                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.configuration.watering_start)"
                       ng-model="gestion.configurationCopy.wateringStart.hour"
                />
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.configuration.watering_start)"
                       ng-model="gestion.configurationCopy.wateringStart.minute"
                />
                à
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.configuration.watering_end)"
                       ng-model="gestion.configurationCopy.wateringEnd.hour"
                />
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.configuration.watering_end)"
                       ng-model="gestion.configurationCopy.wateringEnd.minute"
                />
                <br>
                <input type="number" step="any" min="0" max="100" ng-value="gestion.configuration.light_treshold" ng-model="gestion.configurationCopy.lightTreshold"/>%

        <button class="pure-button" type="reset" ng-click="gestion.reset('configuration', 'edit')">Annuler</button>
        <button class="pure-button" type="submit"> Envoyer </button>
</form>