<h3 >Potager {{gestion.potager.name}}</h3>

<button ng-click="gestion.deletePotager(potager)">Supprimer</button>

<p>{{gestion.potager.description}}</p>

<h4>Endroit</h4>
<ul>
    <li>
        Localisation:<br>
        {{gestion.potager.address.line1}} <br>
        {{gestion.potager.address.line2}}<br>
        {{gestion.potager.address.zipCode}} {{gestion.potager.address.city}} - {{gestion.potager.address.country}}
    </li>
    <li>public: {{gestion.potager.show_location}}</li>
</ul>


<h4>Configuration</h4>
<div ng-if="gestion.potagerConfiguration">
    <button class="pure-button" ng-click="gestion.edit('configuration')" ng-hide="gestion.editionConfiguration">Editer</button>
    <button class="pure-button" ng-click="gestion.change('configuration')" >Changer</button>

    <form name="configurationsList" novalidate ng-show="gestion.changeConfiguration">
        <select name="configurationSlug" ng-model="configuration.slug" >
            <option ng-repeat="configuration in gestion.configurations" ng-value="configuration.slug" ng-selected="gestion.potagerConfiguration.slug === configuration.slug">
                {{configuration.name}}
            </option>
        </select>

        <button type="reset" class="pure-button" ng-click="gestion.reset('configuration', null, 'change')">Annuler</button>
        <button type="submit" class="pure-button" ng-click="gestion.submitChangeConfiguration(configuration.slug)">Valider</button>
    </form>

    <form name="configurationForm" ng-submit="gestion.submitConfiguration()">
        <ul>
            <li>
                Nom:
            <span class="edit" ng-show="gestion.editionConfiguration">
                <input type="text"
                       ng-value="gestion.potagerConfiguration.name"
                       ng-model="gestion.potagerConfigurationCopy.name"
                >
            </span>

            <span ng-hide="gestion.editionConfiguration">
                {{gestion.potagerConfiguration.name}}
            </span>
            </li>
            <li>
                Description:
            <span class="edit" ng-show="gestion.editionConfiguration">
                <textarea type="text"
                          ng-model="gestion.potagerConfigurationCopy.description"
                >
                    {{gestion.potagerConfiguration.description}}
                    </textarea>
            </span>
            <span ng-hide="gestion.editionConfiguration">
                {{gestion.potagerConfiguration.description}}
            </span>
            </li>


            <li>Allumage:
            <span class="edit" ng-show="gestion.editionConfiguration">
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.potagerConfiguration.lighting_start)"
                       ng-model="lightingStart_hours"
                       ng-change="gestion.potagerConfigurationCopy.lighting_start = gestion.setHours(gestion.potagerConfigurationCopy.lighting_start, lightingStart_hours)"/>
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.potagerConfiguration.lighting_start)"
                       ng-model="lightingStart_minutes"
                       ng-change="gestion.potagerConfigurationCopy.lighting_start = gestion.setMinutes(gestion.potagerConfigurationCopy.lighting_start, lightingStart_minutes)"/>
                à
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.potagerConfiguration.lighting_end)"
                       ng-model="lightingEnd_hours"
                       ng-change="gestion.potagerConfigurationCopy.lighting_end = gestion.setHours(gestion.potagerConfigurationCopy.lighting_end, lightingEnd_hours)"/>
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.potagerConfiguration.lighting_end)"
                       ng-model="lightingEnd_minutes"
                       ng-change="gestion.potagerConfigurationCopy.lighting_end = gestion.setMinutes(gestion.potagerConfigurationCopy.lighting_end, lightingEnd_minutes)"/>
            </span>

            <span ng-hide="gestion.editionConfiguration">
                {{gestion.getHours(gestion.potagerConfiguration.lighting_start)}}:{{gestion.getMinutes(gestion.potagerConfiguration.lighting_start)}}
                à
                {{gestion.getHours(gestion.potagerConfiguration.lighting_end)}}:{{gestion.getMinutes(gestion.potagerConfiguration.lighting_end)}}
            </span>
            </li>
            <li>
                Arrosage:
            <span class="edit" ng-show="gestion.editionConfiguration">
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.potagerConfiguration.watering_start)"
                       ng-model="wateringStart_hours"
                       ng-change="gestion.potagerConfigurationCopy.watering_start = gestion.setHours(gestion.potagerConfigurationCopy.watering_start, wateringStart_hours)"/>
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.potagerConfiguration.watering_start)"
                       ng-model="wateringStart_minutes"
                       ng-change="gestion.potagerConfigurationCopy.watering_start = gestion.setMinutes(gestion.potagerConfigurationCopy.watering_start, wateringStart_minutes)"/>
                à
                <input type="number" min="0" max="24"
                       ng-value="gestion.getHours(gestion.potagerConfiguration.watering_end)"
                       ng-model="wateringEnd_hours"
                       ng-change="gestion.potagerConfigurationCopy.watering_end = gestion.setHours(gestion.potagerConfigurationCopy.watering_end, wateringEnd_hours)"/>
                :
                <input type="number" min="0" max="60"
                       ng-value="gestion.getMinutes(gestion.potagerConfiguration.watering_end)"
                       ng-model="wateringEnd_minutes"
                       ng-change="gestion.potagerConfigurationCopy.watering_end = gestion.setMinutes(gestion.potagerConfigurationCopy.watering_end, wateringEnd_minutes)"/>
            </span>

            <span ng-hide="gestion.editionConfiguration">
                {{gestion.getHours(gestion.potagerConfiguration.watering_start)}}:{{gestion.getMinutes(gestion.potagerConfiguration.watering_start)}}
                à
                {{gestion.getHours(gestion.potagerConfiguration.watering_end)}}:{{gestion.getMinutes(gestion.potagerConfiguration.watering_end)}}
            </span>

            </li>
            <li>
                Luminosité:
            <span class="edit" ng-show="gestion.editionConfiguration">
                <input type="number" step="any" min="0" max="100" ng-value="gestion.potagerConfiguration.light_treshold" ng-model="gestion.potagerConfigurationCopy.light_treshold"/>%
            </span>

            <span ng-hide="gestion.editionConfiguration">
            {{gestion.potagerConfiguration.light_treshold}}%
            </span>
            </li>
        </ul>
    <span ng-show="gestion.editionConfiguration">
        <button class="pure-button" type="reset" ng-click="gestion.reset('configuration', null, 'edition')">Annuler</button>
        <button class="pure-button" type="submit"> Envoyer </button>
    </span>
    </form>
</div>

<div ng-if="!gestion.potagerConfiguration">
    <p>No configuration</p>

    <button class="pure-button">Créer une configuration</button>
    <button class="pure-button">Sélectionner parmis les existantes</button>
    <form name="configurationsList" novalidate>
        <select name="configurationSlug" ng-model="configuration.slug" >
            <option ng-repeat="configuration in gestion.configurations" ng-value="configuration.slug" ng-selected="gestion.potagerConfiguration.slug === configuration.slug">
                {{configuration.name}}
            </option>
        </select>

        <button type="reset" class="pure-button" ng-click="gestion.reset('configuration', null, 'change')">Annuler</button>
        <button type="submit" class="pure-button" ng-click="gestion.selectConfiguration(configuration.slug)">Valider</button>
    </form>
</div>

<h4>Alertes</h4>
<div>
    <ul>
        <li ng-repeat="alert in gestion.potagerAlerts">
            <button class="pure-button" ng-click="gestion.edit('alerts', $index)" ng-hide="gestion.editionAlerts[$index]">Editer</button>
            <button class="pure-button button-warning" ng-click="gestion.delete('alerts', $index)">Supprimer</button>
            <form name="alertForm{{$index}}" ng-submit="">
                <span ng-show="gestion.editionAlerts[$index]">
                    <input type="text" name="name" value="{{alert.name}}"/>
                    <br>
                    <select name="type">
                        <option
                                ng-repeat="type in gestion.typesTable"
                                value="{{type.name}}"
                                ng-selected="type.name == alert.type"
                        >
                            {{type.name}}
                        </option>
                    </select>

                    <select name="comparison">
                        <option ng-repeat="comparison in gestion.comparisonTable" value="{{$index+1}}" ng-selected="$index == alert.comparison">{{comparison}}</option>
                    </select>

                    <input type="number" name="treshold" step="any" value="{{alert.treshold}}"/>
                    <br>
                    <textarea name="description">{{alert.description}}</textarea>
                </span>

                <span ng-hide="gestion.editionAlerts[$index]">
                    <h5>{{alert.name}}</h5>
                    {{alert.type}} {{gestion.comparisonTable[alert.comparison-1]}} {{alert.treshold}}
                    <p>{{alert.description}}</p>
                </span>
                <span ng-show="gestion.editionAlerts[$index]">
                    <button class="pure-button" type="reset" ng-click="gestion.reset('alerts', $index)">Annuler</button>
                    <button class="pure-button" type="submit"> Envoyer </button>
                </span>
            </form>
        </li>
        <p ng-hide="gestion.potagerAlerts.length">No Alert</p>
        <form ng-show="alertNew" ng-init="alertNew=false">
            <label for="nameAlertNew">Nom</label>
            <input id="nameAlertNew" type="text" placeholder="Nom de l'alerte"/>

            <label for="descriptionAlertNew">Description</label>
            <textarea id="descriptionAlertNew" placeholder="description de l'alerte"></textarea>

            <label for="messageAlertNew">Message</label>
            <input id="messageAlertNew" type="text" placeholder="Message à afficher"/>

            <label for="typesAlertNew">Types</label>
            <select id="typesAlertNew">
                <option ng-repeat="type in gestion.typesTable" value="{{type.name}}">{{type.name}}</option>
            </select>

            <label for="comparisonAlertNew">Comparaison</label>
            <select id="comparisonAlertNew">
                <option ng-repeat="comparison in gestion.comparisonTable" value="{{$index}}">{{comparison}}</option>
            </select>
            <label for="tresholdAlertNew">Seuil</label>
            <input id="tresholdAlertNew" type="number" step="any" placeholder="seuil voulu"/>
        </form>
        <button class="pure-button" ng-click="alertNew=true">Ajouter</button>
    </ul>
</div>

<button class="pure-button" ng-click="gestion.allPotagers()">Voir tous</button>