<div class="pure-g liveDatas">
    <toaster-container class="toaster" toaster-options="{'limit':2}"></toaster-container>
    <div class="pure-u-1">
        <button class="pure-button button hvr-sweep-to-right btn pull-right" ng-click="potager.onEditClick()">
            <i class="fa fa-pencil-square-o"></i>
            Modifier
        </button>
    </div>

    <h1 class="pure-u-1"> {{ potager.potager.name }}</h1>
    <div class="pure-u-1">
        <p class="pure-u-1-2 descrPotager">{{ potager.configCurrentPotager.configuration.description }}</p>
    </div>
    <div class="pure-u-1">
        <p class="pure-u-1-5">Température de l'eau: {{ potager.currentWaterTemp}} °C</p>
        <p class="pure-u-1-5">Niveau réservoir d'eau: {{ potager.currentWaterLevel }} %</p>
    </div>

    <div class="pure-u-1">
        <p class="pure-u-1-5">Niveau d'ensoleillement: {{ potager.currentDayLight }} %</p>
        <p class="pure-u-1-5">Niveau d'humidité dans l'air: {{ potager.currentAirHumidity }} %</p>
        <p class="pure-u-1-5">Température de l'air: {{ potager.currentAirTemp }} °C</p>
    </div>

    <div class="pure-u-1 irrigStatus">
        <p class="pure-u-10" ng-bind-html="potager.irrigation | toTrusted"></p>
    </div>

    <div class="pure-u-1">
        <div id="container"></div>
    </div>

    <h1 class="pure-u-1">Historique des 12 dernières heures</h1>

    <form class="pure-u-1" name="dataTypeForm">
        <label for="dataType" class="pure-u-3 labelDatas">Sélectionner un type de donnée</label>
        <select class="pure-u-3" name="dataType" id="dataType"
                ng-options="option.name for option in potager.dataType.availableOptions track by option.id"
                ng-model="potager.dataType.selectedOption"
                ng-change="potager.updateSelectedOption(potager.dataType.selectedOption)">

        </select>
    </form>

    <div class="pure-u-1 chartContainer">
        <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series">
        </canvas>
    </div>
</div>
