
<!--<form ng-submit="gestion.edit('alert', gestion.alert.slug, gestion.alertCopy )">
                <span>Nom:
                    <input type="text" name="name" ng-model="gestion.alertCopy.name" value="{{gestion.alert.name}}"/>
                    <br>
                    Description:
                    <textarea name="description" ng-model="gestion.alertCopy.description">{{gestion.alert.description}}</textarea>
                    <br>
                    Message:
                    <input type="text" name="message" ng-model="gestion.alertCopy.message" value="{{gestion.alert.message}}"/>
                    <br>
                    <select name="type" ng-model="gestion.alertCopy.type">
                        <option
                                ng-repeat="type in gestion.types"
                                value="{{type.slug}}"
                                ng-selected="type.slug == gestion.alert.type.slug"
                        >
                            {{type.name}}
                        </option>
                    </select>

                    <select name="comparison" ng-model="gestion.alertCopy.comparison">
                        <option ng-repeat="comparison in gestion.comparisonTable"
                                value="{{$index+1}}"
                                ng-selected="$index+1 == gestion.alert.comparison"
                        >{{comparison}}</option>
                    </select>

                    <input type="number" name="treshold" step="any" ng-model="gestion.alertCopy.threshold" value="{{gestion.alert.threshold}}"/>
                </span>
                <span>
                    <button class="pure-button" type="reset" ng-click="gestion.reset('alert', 'edit', 'solo')">Annuler</button>
                    <button class="pure-button" type="submit"> Envoyer </button>
                </span>
</form>-->

<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
  <form class="edit-form-config" ng-submit="gestion.edit('alert', gestion.alert.slug, gestion.alertCopy )">

    <legend>Nom</legend>
    <div class="mui-textfield  mui-textfield--float-label">
      <input type="text"
      ng-model="gestion.alertCopy.name" value="{{gestion.alert.name}}"
      >
    </div>
    <div class="mui-textfield  mui-textfield--float-label">
      <legend>Description</legend>
      <textarea type="text"
      ng-model="gestion.alertCopy.description">{{gestion.alert.description}}

    </textarea>
  </div>
  <div class="mui-textfield  mui-textfield--float-label">
    <legend>Message</legend>
    <textarea type="text"
    ng-model="gestion.alertCopy.message" value="{{gestion.alert.message}}">

  </textarea>
</div>

<select name="type" ng-model="gestion.alertCopy.type">
    <option
            ng-repeat="type in gestion.types"
            value="{{type.slug}}"
            ng-selected="type.slug == gestion.alert.type.slug"
    >
        {{type.name}}
    </option>
</select>

<select name="comparison" ng-model="gestion.alertCopy.comparison">
    <option ng-repeat="comparison in gestion.comparisonTable"
            value="{{$index+1}}"
            ng-selected="$index+1 == gestion.alert.comparison"
    >{{comparison}}</option>
</select>

  <div class="mui-textfield  mui-textfield--float-label">
<input type="number" name="treshold" step="any" ng-model="gestion.alertCopy.threshold" value="{{gestion.alert.threshold}}"/>
</div>

  <div class="edit-btn">
    <button type="submit" class="btn-edit hvr-sweep-to-right mui-btn mui-btn mui-btn--primary mui-btn--fab"><i class="fa fa-check"></i></button>
    <button type="reset" ng-click="gestion.reset('alert', 'edit', 'solo')" class="btn-reset hvr-buzz mui-btn mui-btn mui-btn--primary mui-btn--fab"><i class="fa fa-angle-double-left"></i></button>
  </div>

</form>
</div>
