
<h1>Alerte {{gestion.alert.name}}</h1>


<alerteditform ng-show="gestion.editAlert"></alerteditform>


<div ng-hide="gestion.editAlert">

    <p>{{gestion.alert.description}}</p>
    <p>{{gestion.alert.message}}</p>

    <p>{{gestion.alert.type.name}} {{gestion.comparisonTable[gestion.alert.comparison-1]}} {{gestion.alert.threshold}}</p>
</div>


<div ng-hide="gestion.editAlert">
    <button class="pure-button" ng-click="gestion.display('alert', 'edit', 'solo')">Éditer</button>
    <button class="pure-button button-warning" ng-click="gestion.delete('alert', gestion.alert.slug)">Supprimer</button>
</div>