

<h3>Alertes</h3>
<div class="dash animated bounceIn test" ng-repeat="alert in gestion.alerts">

    <div ng-class="dash" ng-click="gestion.goToPage('alert', 'select', alert.slug)">
        <h1>{{ alert.name }}</h1>
        <p ng-bind="alert.description" class="description"></p>
    </div>

</div>
<div ng-hide="gestion.alerts.length">
    <p>No Alert</p>
    <alertnewform ng-show="gestion.newAlert"></alertnewform>
    <button class="pure-button" ng-click="gestion.display('alert', 'new')" ng-hide="gestion.newAlert">Nouvelle alerte</button>
</div>