/* app css stylesheet */
*{
<<<<<<< HEAD
  box-sizing: border-box;
=======
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  box-sizing: border-box;
}
body, p{
>>>>>>> master
  font-family: 'Montserrat', Arial, sans-serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
>>>>>>> master

.dashboard h1{
    margin: 0;
}
.dash{
    background-color: #00A000;
}
<<<<<<< HEAD
/* Home Page */
.home-title{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif!important;
}
.home-container{
  width: 80%;
  margin: auto;
}
.home-desc{
  text-transform: uppercase;
  position: absolute;
  top: 43%;
  left: 45%;
  transform: translateY(-50%);
  width: 47%;
  line-height: 1.7;
}
.home-1-2{
  width: 49%;
  position: relative;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.home-1-2:hover{
  opacity: 0.6;
}
.home-img{
  width: 90%;
  margin: 0 auto;
}
.home-btn{
  width: 10%;
  margin: 5% auto;
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #00b06c;
  color: #fff;
  font-family: 'Montserrat';
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.home-btn:hover{
  background-color: #07F196;
}
=======
=======
/* Home Page */
.text-center{
  margin-top: 1%;
  text-align: center;
}
.home-col-2{
  margin: 3% auto;
  background-color: rgba(194, 197, 199, 0.27);
}
p.home-col-2{
  text-transform: uppercase;
  color: #3a3939;
}
img.home-col-2:hover{
  opacity: 0.6;
}
.home-btn{
  padding: 1%;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: auto;
  display: table;
  border: 1px solid rgba(0, 0, 0, 0.22);
  background-color: #00B06C;
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;

}
.home-btn:hover{
  background-color: #00883C;
  border: black;
}
.home-desc{
  width: 59%;
}
.home-desc p{
  width: 70%;
  margin: auto;
  line-height: 1.7;
  text-transform: uppercase;
  transform: translateY(5%);
}
.angular-google-map-container{
  height: 300px;
}
>>>>>>> Stashed changes
>>>>>>> master
