/* app css stylesheet */

body{
    background-color: #fcfcfc;
    background: url("assets/images/fond.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu{
    position: relative;
    overflow: auto;
    height: 64px;
    padding: 0 8px;
}
.menu .logo{
    height: 100%;
    padding: 8px;
    float: left;
}
.menu .logo img{
    height: 100%;
}

.menu ul{
    position: absolute;
    right: 16px;
    bottom: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: "Roboto";
}

.menu ul > li {
    display: inline;
    text-transform: uppercase;
    margin: 0 8px;
}
.menu ul > li > a {
    text-decoration: none;
    color: #58585a;
    transition: color 0.2s;
}
.menu ul > li > a:hover {
color: #5bb05b;
}

.padding{
  padding: 16px;
}



