/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
  margin-bottom: 0;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:first-child:before {
  content: "";
  padding: 0;
}

/*********** Dashboard **********/

.dashboard h1{
    margin: 0;
    text-align: center;
}

.description{
    text-align: center;
    margin-top: 0;
}

.dash{
    background-color: #00A000;
    margin: 2em;
    margin-right: 4em;
    cursor: pointer;
}

/* Home Page */
.home-title{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif!important;
}
.home-container{
  width: 80%;
  margin: auto;
}
.home-desc{
  text-transform: uppercase;
  position: absolute;
  top: 43%;
  left: 45%;
  transform: translateY(-50%);
  width: 47%;
  line-height: 1.7;
}
.home-1-2{
  width: 49%;
  position: relative;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.home-1-2:hover{
  opacity: 0.6;
}
.home-img{
  width: 90%;
  margin: 0 auto;
}
.home-btn{
  width: 10%;
  margin: 5% auto;
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #00b06c;
  color: #fff;
  font-family: 'Montserrat';
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.home-btn:hover{
  background-color: #07F196;
}

.padding{
  padding: 16px;
}

/*********** Dashboard **********/
.dashboard{
    background-color: #e7e7e7;
    color: #154F29;
    font-family: 'Montserrat', sans-serif !important;
}
.dashboard h1{
    margin: 0;
    text-align: center;
    color: #686868;

}

.description{
    text-align: center;
    margin-top: 0;
    color: #686868;
}

.dash{
    background-color: #57b157;
    margin: 2em;
    margin-right: 4em;
    cursor: pointer;
}

.info{
    padding-left: 2em;
}

.dash:hover{
  /*  -webkit-animation: bounceIn 1s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;*/
    animation: bounceIn 1s;
}

/*********** Dashboard **********/