/* app css stylesheet */
@font-face {
  font-family: 'geosans';
  src: url('assets/fonts/geosanslight-oblique-webfont.eot');
  src: url('assets/fonts/geosanslight-oblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/geosanslight-oblique-webfont.woff2') format('woff2'),
  url('assets/fonts/geosanslight-oblique-webfont.woff') format('woff'),
  url('assets/fonts/geosanslight-oblique-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;;

}




@font-face {
  font-family: 'geosans';
  src: url('assets/fonts/geosanslight-webfont.eot');
  src: url('assets/fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/geosanslight-webfont.woff2') format('woff2'),
  url('assets/fonts/geosanslight-webfont.woff') format('woff'),
  url('assets/fonts/geosanslight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
body{
  background-color: #fcfcfc;
  background: url("assets/images/fond2.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu{
  position: relative;
  overflow: auto;
  height: 80px;
  padding: 0 8px;
  background-color: #fff;
}
.menu .logo{
  height: 100%;
  padding: 8px;
  float: left;
}
.menu .logo img{
  height: 60px;
}

.menu ul{
  position: absolute;
  right: 16px;
  bottom: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Roboto";
}

.menu ul > li {
  display: inline;
  text-transform: uppercase;
  margin: 0 8px;
}
.menu ul > li > a {
  text-decoration: none;
  color: #58585a;
  transition: color 0.2s;
  font-family: 'geosans';
}
.menu ul > li > a:hover {
  color: #5bb05b;
}

.padding{
  padding: 16px;
}
footer {

  width: 100vw;
  height: 10vh;
}
.footer-social{
  background-color: #E6E0E0;
  padding: 1% 0;

}
.footer-social .social{
  margin: 0 auto;
}
.footer-social .social-icon{
  display: inline-block;
  width: 62px;
  height: 62px;
  color: #fff;
  line-height: 65px;
  font-size: 27px;
  margin: 0 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #3a3a3a !important;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.facebook:hover{
  background:#4b6ea8 !important;
}
.twitter:hover{
  background:#4fd5f8 !important;
}
.linkedin:hover{
  background:#0189c3 !important;
}
.instagram:hover{
  background:#e1d4b8 !important;
}
.footer-btm{
  background-color: #fff;
  padding: 2% 0;
}
.footer-btm img{
  width: 12vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  padding-bottom: 1%;
}
.footer-btm p{
  padding-top: 1%;
}
@media (min-width: 1200px){
  .footer-social .social{
    width: 21%;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .footer-social .social{
    width: 25%;
  }
  .footer-btm img{
    width: 16vw;
  }
  .dash-details{
        margin-bottom: 8%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .footer-social .social{
    width: 40%;
  }
  .footer-btm img{
    width: 20vw;
  }
}
@media (max-width: 768px){
  .footer-social .social{
    width: 50%;
  }
  .footer-btm img{
    width: 18vw;
  }
}
