<h1>{{ gestion.title }}</h1>

<!--<button ng-click="gestion.newPotager()">Ajouter un potager</button>-->

<!--<newPotager ng-if="gestion.newPotagerForm"></newPotager>-->

<!--<potagers ng-if="gestion.potagers"></potagers>-->

<potager ng-if="gestion.page === 'potager'"></potager>


<configurationslist ng-if="gestion.page === 'index'"></configurationslist>


<alertslist ng-if="gestion.page === 'index'"></alertslist>


<div ng-if="gestion.page === 'configuration'" class="dash animated bounceIn test">

    <div ng-class="dash">
        <h1>{{ gestion.configuration.name }}</h1>
        <p ng-bind="gestion.configuration.description" class="description"></p>
    </div>

</div>