.dash{

  margin-bottom: 8%;
  border-radius: 10px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  position: relative;
}
.dash-content-box {
  background-color: rgba(14, 3, 0, 0.4);
  border-radius: 10px;

}
.dash-content-box:hover, .dash-content-box:focus, .dash-content-box:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
}
.dash img{
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.dashboard-content{
  width: 70%;
  margin: 0 auto;
}
.dash-img{
  position: relative;
}
.dash-img h1{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  color: #000;
  background-color: rgba(255, 255, 255, 0.73);
  padding: 3%;
  text-transform: uppercase;
  text-align: center;
}

.dash h1{
  font-family: 'Montserrat', Calibri, Arial, sans-serif;
  word-break: break-word;
}
.dash p{
  font-family: 'geosans', Calibri, Arial, sans-serif;
  font-size: 2.5em;
  padding: 11% 12%;
  text-transform: capitalize;
  color: #fff;
  word-break: break-word;
}
.dash button{
  background: #4aff7b;
  background: -moz-linear-gradient(top, #4aff7b 0%, #3fb570 100%);
  background: -webkit-linear-gradient(top, #4aff7b 0%,#3fb570 100%);
  background: linear-gradient(to bottom, #4aff7b 0%,#3fb570 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aff7b', endColorstr='#3fb570',GradientType=0 );
  position: absolute;
  bottom: 20px;
  right: 20px;

}
/*************** Toaster *********************/
#toast-container>div{
  letter-spacing: normal !important;
  opacity: 1 !important;
}
