
/*********** Dashboard **********/
.dashboard{
    color: #154F29;
    font-family: 'Montserrat', sans-serif !important;
}
.dashboard .dashboard-content{
    position: relative;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
}
.dashboard h1{
    margin: 0.7em;
    text-align: center;
    color: #686868;
    font-size: 27px;
}

.dashboard p{
    padding-left: 0.5em;
}

.description{
    text-align: center;
    margin-top: 0;
    color: #FFF;
    font-size: 14px;
}

.dash{
    width: calc((100%/3) - 20px);
    margin: 10px;
    float: left;
    background-color: #5bb05b;
    cursor: pointer;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    letter-spacing: normal;
    border: 1px solid #dedcda;
}

.dash .dash-img{
    width: 100%;
    overflow: hidden;
    height: 150px;
    background-color: #FFF;
    cursor: default;

}
.dash .dash-img img{
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.dash h1{
    color: #FFFFFF;
}

.hvr-sweep-to-right:before{
    background: #5bb05b;
}
/*********** Dashboard **********/
/*********** Potager sélectionné **********/

.liveDatas{
    text-align: center;
}

.btn{
    margin: 0.5em;
}

.button-warning {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.chartContainer{
    margin: 2em;
}

.chartContainer canvas{
    width: 100%;
    height: 450px;
}
/*********** Potager sélectionné **********/
/*********** Edition potager **********/

.formEditionGarden p{
    margin: 0;
    margin-left: 0.5em;
}

.formEditionGarden label{
    margin: 0 !important;
    margin-left: 0.5em !important;
}

/*************** Toaster *********************/
#toast-container>div{
    letter-spacing: normal !important;
    opacity: 1 !important;
}
/*************** Toaster *********************/
/*************** Graph *********************/
.chartContainer{
    margin: 2em;
}

.chartContainer canvas{
    width: 100% !important;
    height: 450px !important;
}
/*************** Graph *********************/
