*::selection{
  background-color: rgba(0, 176, 108, 0.6);
}
body{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
}
h1, h2{
  font-family: 'Roboto', Arial, sans-serif;
}
.concept-container{
  background: url('images/home-concept-bg.png') no-repeat;
  background-size: cover;
  padding: 2% 0;
  color: #fff;
  position: relative;
}
.concept-container:before{
  background-color: rgba(34,34,34, 0.75);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
.concept-content{
  position: relative;
}
.concept-content h1{
font-family: 'geosans', Arial, sans-serif;
}
.feature-cont h1{
  font-family: 'geosans', Arial, sans-serif;

}
.feature-bg{
  background: url('images/fond.png') no-repeat;
  background-color: white;
  padding-bottom: 2%;
}

.concept-container p{
  font-size: 1.5em;
  text-align: center;
  margin: 10% 0 5% 0;
  line-height: 2.5;
  color: #fff;
}
.home-feature{
    /*margin: 5% 0;*/
}
.img-container{
  background-color: #E6E0E0;
  padding: 0;
  margin-bottom: 2%;
  margin-top: 2%;
  transition: all .2s ease-in-out;
  box-shadow: 4px 4px 4px rgba(138, 129, 129, 0.33);
}
.img-container:hover{
  opacity:0.8;
  transform: scale(1.1);
}
.home-img-content{
  padding-left: 0;
}


.home-desc{
  line-height: 1.5;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 5%;
}
.home-desc h2::first-line{
  color: #57b157;
}
.home-btn{
  background: #00b06c;
  border-radius: 0;
  border: none;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 3%;

}
.home-btn:hover{
  border: solid 1px rgba(0, 0, 0, 0.41);
}
@media (min-width: 992px) and (max-width: 1200px){
  .home-desc{
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .home-desc{
    font-size: 16px;
  }
}

@media (max-width: 768px){
  .home-desc{
    font-size: 15px;
  }
}
