<div class="pure-g dashboard" ng-init="dashboard.getDatas()">
    <h1 class="pure-u-1"> {{ dashboard.title }}</h1>
    <div class="dashboard-content">    <!-- row -->
        <div class="dash animated bounceIn" ng-repeat="potager in dashboard.listePotagers">

            <div class="dash-img">
                <img src="assets/images/pro.png">
            </div>

            <div ng-class="" ng-click="dashboard.selectedPotager(potager)">
                <h1>Potager {{ potager.id }}</h1>
                <p ng-bind="potager.description" class="description"></p>
                <p ng-bind="potager.location.address" class="info"></p>
                <p class="info">Luminosité de {{ potager.settings.lighting.start }}h à {{ potager.settings.lighting.end }}h</p>
                <p class="info">Hydraté de {{ potager.settings.watering.start }}h à {{ potager.settings.watering.end }}h</p>
            </div>

        </div>
    </div>
</div>
