<div class="pure-g dashboard" ng-init="dashboard.getDatas()">
    <h1 class="pure-u-1"> {{ dashboard.title }}</h1>
    <div class="dashboard-content">
        <div class="dash animated bounceIn" ng-repeat="potager in dashboard.listePotagers.gardens">
            <div class="dash-img dashSelection"
                 ng-init="dashboard.addRandImages()"
                 ng-click="dashboard.selectedPotager(potager)">
                <img ng-src="{{ potager.imgRand }}" id="dashImage" alt="Urban Potager Picture" />
            </div>
            <div ng-class="dash" ng-click="dashboard.selectedPotager(potager)">
                <h1>{{ potager.name }}</h1>
                <p ng-bind="potager.description" class="description"></p>
            </div>

        </div>
    </div>
</div>
